@using Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Home";
}

<div class="govuk-body"><a asp-action="Index"></a></div>

<div class="govuk-grid-row box-container">
	<div class="govuk-grid-column-one-half box">
		<div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
			<div class="govuk-card-body">
				<h2 class="govuk-heading-m">
					Registration and accreditation
				</h2>
				<p class="govuk-body">
					<a href="#"
					   class="govuk-link--no-visited-state">Apply for reprocessor registration</a>
				</p>
			</div>
		</div>
	</div>
</div>