@model AddAnotherOverseasReprocessingSiteViewModel;

@{
    ViewData["Title"] = Localizer["AddOverseasProcessingSiteTitle"];
    ViewData["PageDescription"] = Localizer["AddOverseasProcessingSitePageDescription"];
    ViewData["UseNewLayout"] = false;
    var errorsVM = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
}

<h1 class="govuk-heading-l">@Localizer["AddOverseasProcessingSiteHeading"]</h1>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-!-width-full">
                <fieldset class="govuk-fieldset">
                    <form asp-controller="Registration" asp-action="AddAnotherOverseasReprocessingSite" method="post">
                        <div class="govuk-form-group @(!ViewData.ModelState.IsValid ? "govuk-form-group--error" : string.Empty)">
                                             
                            @if (errorsVM.HasErrorKey("AddOverseasSiteAccepted"))
                            {
                                @await Html.PartialAsync("Partials/Govuk/_Error", ViewData.ModelState.GetModelStateEntry("AddOverseasSiteAccepted"))
                            }

                            <div class="govuk-radios govuk-radios" data-module="govuk-radios">                                
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="AddOverseasSiteYes" value="true" name="AddOverseasSiteAccepted" type="radio">
                                    <label class="govuk-label govuk-radios__label">
                                        Yes
                                    </label>
                                </div>
                                <div class="govuk-radios__item">
                                    <input class="govuk-radios__input" id="AddOverseasSiteNo" value="false" name="AddOverseasSiteAccepted" type="radio">
                                    <label class="govuk-label govuk-radios__label">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>
                                               
                        <button-group>
                            <button class="govuk-button" data-module="govuk-button" asp-route-buttonAction="SaveAndContinue">
                                @Localizer["Continue"]
                            </button>
                            <button class="govuk-button govuk-button--secondary" data-module="govuk-button" asp-route-buttonAction="SaveAndComeBackLater">
                                @Localizer["SaveAndComeBackLater"]
                            </button>
                        </button-group>
                    </form>
                </fieldset>
            </div>
        </div>
    </main>
</div>
