@{
	ViewData["Title"] = "Demo";
}


<div class="govuk-grid-row box-container">
	<div class="govuk-grid-column-one-half box">
		<div class="govuk-card govuk-card--grey govuk-card--border-bottom-blue govuk-!-margin-bottom-7">
			<div class="govuk-card-body">
				<h2 class="govuk-heading-m">
					Demo Dev 9 branch
				</h2>
			</div>
		</div>
	</div>
</div>