@model ManualAddressForServiceOfNoticesViewModel
@using Epr.Reprocessor.Exporter.UI.ViewModels.Registration;
@{
	ViewData["Title"] = Localizer["page_title"];
	ViewData["PageDescription"] = Localizer["page_description"];
	ViewData["UseNewLayout"] = true;
}

@using (Html.BeginForm("ManualAddressForServiceOfNotices", "Registration", FormMethod.Post, new { @class = "form", id = "manual-address-form" }))
{
	@Html.AntiForgeryToken()

	<fieldset class="govuk-fieldset">
		<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
			<h1 class="govuk-heading-l">
				@Localizer["page_title"]
			</h1>
		</legend>

		@await Html.PartialAsync("Partials/Address")

	</fieldset>

	<button-group>
		<button class="govuk-button" data-module="govuk-button" asp-route-buttonAction="SaveAndContinue">
			@SharedLocalizer["saveandcontinue"]
		</button>
		<button class="govuk-button govuk-button--secondary" data-module="govuk-button" asp-route-buttonAction="SaveAndComeBackLater">
			@SharedLocalizer["saveandcomebacklater"]
		</button>
	</button-group>
}