@{
	ViewData["Title"] = "placeholder";
}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
		<h1>placeholder till next page is developed</h1>
	</main>
</div>