
@using Epr.Reprocessor.Exporter.UI.Enums
@using Epr.Reprocessor.Exporter.UI.Extensions

@model RegulatorAddressForNoticesViewModel

@{
    ViewData["Title"] = Localizer["select_the_country_the_reprocessing_site_page_title"];
    ViewData["PageDescription"] = Localizer["select_the_country_the_reprocessing_site_page_description"];

    var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
}


<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                @if (!ViewData.ModelState.IsValid)
                {
                    @await Html.PartialAsync("Partials/Govuk/_ErrorsViewModelSummary", errorsViewModel)
                }
            </div>
        </div>
    </main>
</div>