.govuk-radios__conditional {
    display: none;
}

#same-address:checked ~ .govuk-radios__conditional {
    display: block;
}

#registered-address:checked ~ .govuk-radios__conditional {
    display: block;
}