@model PackagingWasteWillReprocessViewModel
@{
	ViewData["Title"] = Localizer["page_title"];
	ViewData["PageDescription"] = Localizer["page_description"];
	var errorsViewModel = new ErrorsViewModel(ViewData.ModelState.ToErrorDictionary(), Localizer);
}

@section Styles {
	<link href="~/css/registration-radio-buttons.css" rel="stylesheet" />
}

<h1 class="govuk-heading-l">Packaging waste you will reprocess in @Model.Year</h1>

<p class="govuk-body">Each type of packaging waste needs searate registration application. You will need to pay a registration application fee for each one. If granted, we will give each material a unique registration number.</p>

<h1 class="govuk-heading-m">
	Select the packaging waste you will reprocess in @Model.Year
</h1>

<form asp-controller="Registration" asp-action="PackagingWasteWillReprocess" method="post">
	<div class="govuk-form-group@(!ViewData.ModelState.IsValid ? " govuk-form-group--error" : "")">
		<fieldset class="govuk-fieldset">
			@if (!ViewData.ModelState.IsValid)
			{
				@await Html.PartialAsync("Partials/Govuk/_Error", ViewData.ModelState.GetModelStateEntry("SelectedRegistrationMaterials"))
			}

			<checkboxes asp-for="SelectedRegistrationMaterials" items="Model.Materials"></checkboxes>

		</fieldset>
	</div>

	<button-group>
		<button class="govuk-button" data-module="govuk-button" asp-route-buttonAction="SaveAndContinue">
			@SharedLocalizer["saveandcontinue"]
		</button>
		<button class="govuk-button govuk-button--secondary" data-module="govuk-button" asp-route-buttonAction="SaveAndComeBackLater">
			@SharedLocalizer["saveandcomebacklater"]
		</button>
	</button-group>
</form>