@{
	ViewData["Title"] = "export journey check your answers";
}

<div class="govuk-width-container">
	<main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
		<h1>Export journey: placeholder for check your answers</h1>
	</main>
</div>
