@model Epr.Reprocessor.Exporter.UI.ViewModels.Shared.SummaryListModel

@if (Model.Rows.Any())
{
	if (!string.IsNullOrEmpty(Model.Heading))
	{
		<h2 class="govuk-heading-m">@Model.Heading</h2>
	}

	<dl class="govuk-summary-list">
		@foreach (var row in Model.Rows)
		{
			<div class="govuk-summary-list__row">
				<dt class="govuk-summary-list__key">
					@row.Key
				</dt>
				<dd class="govuk-summary-list__value">
					@row.Value
				</dd>
					
				@if (!string.IsNullOrEmpty(row.ChangeLinkUrl))
				{
					<dd class="govuk-summary-list__actions">
						<a class="govuk-link" href=@row.ChangeLinkUrl>Change<span class="govuk-visually-hidden"> @row.ChangeLinkHiddenAccessibleText</span></a>
					</dd>
				}
			</div>
		}
	</dl>
}