@model SelectAuthorityModel
@{
    ViewData["Title"] = "Select authority for people";
}

<a class="govuk-back-link" href="#">Back</a>

<h1 class="govuk-heading-l">Authority to issue PRNs for steel at: 23 Ruby Street</h1>

<p class="govuk-body">You can choose the people you want to have authority to issue PRNs for this material at this site.</p>
<p class="govuk-body">The people you choose will be able to issue PRNs on this system.</p>

<h2 class="govuk-heading-m">Select who you want to have authority to issue PRNs</h2>
<p class="govuk-body">You can select more than one</p>

<div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-!-padding-top-4" id="main-content" role="main">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <form method="post" class="govuk-form-group">
                    <div class="govuk-form-group">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                                <h1 class="govuk-heading-l govuk-!-margin-bottom-4">
                                    <p class="govuk-body">You can select more than one</p>
                                </h1>
                            </legend>
                            <table class="govuk-table">
                                <thead class="govuk-table__head">
                                    <tr class="govuk-table__row">
                                        <th class="govuk-table__header" scope="col">Name</th>
                                        <th class="govuk-table__header" scope="col">Email</th>
                                    </tr>
                                </thead>
                                <tbody class="govuk-table__body">
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="myself" name="authority" type="checkbox" value="myself">
                                                <label class="govuk-label govuk-checkboxes__label" for="myself">Myself</label>
                                            </div>
                                        </td>
                                        <td class="govuk-table__cell">Myself@reprocessor.com</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="andrew" name="authority" type="checkbox" value="andrew">
                                                <label class="govuk-label govuk-checkboxes__label" for="andrew">Andrew Recycler</label>
                                            </div>
                                        </td>
                                        <td class="govuk-table__cell">Andrew.Recycler@reprocessor.com</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="gary1" name="authority" type="checkbox" value="gary1">
                                                <label class="govuk-label govuk-checkboxes__label" for="gary1">Gary Package</label>
                                            </div>
                                        </td>
                                        <td class="govuk-table__cell">Gary.Package1@reprocessor.com</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="gary2" name="authority" type="checkbox" value="gary2">
                                                <label class="govuk-label govuk-checkboxes__label" for="gary2">Gary Package</label>
                                            </div>
                                        </td>
                                        <td class="govuk-table__cell">GaryWPackageP@reprocessor.com</td>
                                    </tr>
                                    <tr class="govuk-table__row">
                                        <td class="govuk-table__cell">
                                            <div class="govuk-checkboxes__item">
                                                <input class="govuk-checkboxes__input" id="scott" name="authority" type="checkbox" value="scott">
                                                <label class="govuk-label govuk-checkboxes__label" for="scott">Scott Reprocessor</label>
                                            </div>
                                        </td>
                                        <td class="govuk-table__cell">Scott.Reprocessor@reprocessor.com</td>
                                    </tr>
                                </tbody>
                            </table>
                        </fieldset>
                    </div>
                    <div class="govuk-button-group">
                        <button type="submit" class="govuk-button" data-module="govuk-button">
                            Save and continue
                        </button>
                        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                            Save and come back later
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</div>
